<div class="container-flex align-column">
    <h4>Extra questions</h4>
    <ul>
        <li>Which data structure makes this search fast, like almost constant time. Show example?</li>
        <p>
            I'm not sure I understand the question correctly. My first inclination was to use an object, but it could be a hash map as well. This is due to the key - value pairs.
        </p>
        <pre>
            <code>
                {{ codeText }}
            </code>
        </pre>
        <li>It's friday night. How much beer do you drink?</li>
        <p>
            Uh, that depends :)
        </p>
    </ul>
</div>